@media screen and (max-width:1366px) {
    .container {
        max-width: 95%;
    }
}

@media screen and (max-width:1200px) {
    .high-definition {
        padding-bottom: 20px;
        padding-top: 50px;
    }
}

@media screen and (max-width:1024px) {
    .high-definition .piano-img {
        display: block;
        position: absolute;
        top: 210px;
        right: -60px;
        width: 65%;
    }

    .gamified-sec {
        padding: 50px 0 40px;
    }

    .qualcomm-sec {
        padding: 20px 0 40px;
    }
}

@media screen and (max-width: 991px) {
    span.menu-close {
        padding: 7px 10px;
        background: #ffc05b;
        color: #fff;
        border-radius: 3px;
    }

    .nav-menu {
        display: block;
        position: fixed;
        right: -100%;
        background: #fff;
        top: 0;
        width: 320px;
        height: 100%;
        z-index: 99;
        overflow-y: scroll;
        padding: 25px;
        transition: all 0.5s;
    }

    span.menu-close {
        display: inline;
    }

    h2.menu-toggle {
        display: block;
        color: #fff;
    }

    .nav-menu ul {
        display: block;
        text-align: left;
    }

    .nav-menu ul li a {
        color: #000;
        display: block;
        border-bottom: solid 1px #f2f2f2;
        padding: 10px 0;
    }

    .top-icon {
        justify-content: left;
        margin-left: 0;
    }

    .flag-icon {
        width: 100%;
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
    }

    ul.menu-icon {
        display: flex;
    }

    ul.menu-icon li a {
        color: #b3b4b8;
        border: none;
    }

    ul.menu-icon li .count {
        color: #fff;
        background: #ffc143;
    }

    .nav-menu.active {
        right: 0;
    }

    .high-definition .piano-img {
        display: none;
    }

    .high-definition .piano-mob-img {
        display: block;
    }

    .high-definition .content-txt::before {
        height: 100px;
    }

    .technology-sec {
        height: 530px;
    }

    .control-sec {
        padding: 20px 0 50px;
    }

    .control-sec img.find-img {
        margin-top: 30px;
    }
    .w-20 {
        width: 33%;
    }
    
    .footer-col {
        margin-bottom: 15px;
    }
}

@media screen and (max-width:575px) {
    .right-txt {
        justify-content: left;
    }

    .find-sec {
        padding: 20px 0;
    }

    .right-txt h2 {
        font-size: 24px;
    }

    .find-sec h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .video-section {
        height: 70vh;
    }

    .high-definition .content-txt::before {
        height: 100px;
        left: 0px;
    }

    .high-definition .content-txt h2 {
        font-size: 45px;
        padding-left: 10px;
    }

    .high-definition .content-txt {
        padding-left: 0;
    }
    
    .piano-mob-img {
        margin-top: 15px;
    }

    .gamified-sec .content-txt h2 {
        font-size: 36px;
        text-align: left;
    }

    .gamified-sec .box-item {
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
    }

    .gamified-sec .box-item img {
        margin-bottom: 15px;
        width: 100px;
        margin-right: 0;
    }

    .technology-sec {
        background: none;
        padding: 0px 0 30px;
        height: auto;
    }

    .tech-txt {
        padding-top: 0;
        padding-left: 0;
    }

    .technology-sec .tech-txt h2 {
        font-size: 36px;
        line-height: normal;
    }

    .piano-sec img {
        width: 100%;
    }

    .desktop-img {
        display: none;
    }

    .mob-img {
        display: block;
        width: 100%;
    }

    .tech-txt h2 {
        margin-bottom: 30px;
    }

    .tech-txt p {
        margin-bottom: 30px;
    }

    .piano-sec {
        padding: 40px 0 40px;
    }
    
    .piano-sec .content-txt h2 {
        font-size: 36px;
        text-align: left;
    }

    .piano-sec .content-txt p {
        text-align: left;
        font-size: 18px;
    }

    .high-definition .content-txt p {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    .qualcomm-sec .content-txt h2 {
        text-align: left;
        font-size: 36px;
    }

    .qualcomm-sec .content-txt p {
        text-align: left;
    }

    .advanced-sensing-sec .content-txt h2 {
        text-align: left;
        font-size: 36px;
    }

    .advanced-sensing-sec .content-txt p {
        font-size: 18px;
        text-align: left;
    }

    .control-sec .content-txt h2 {
        font-size: 36px;
    }

    .control-sec .content-txt p {
        font-size: 18px;
    }

    .everyone-sec .everyone-box .everyone-txt p {
        height: auto;
    }

    .everyone-sec .everyone-box {
        margin-bottom: 30px;
    }

    .everyone-sec {
        padding: 40px 0;
    }

    .smart-piano-sec {
        padding: 40px 0;
    }

    .smart-piano-sec h2 {
        font-size: 36px;
        text-align: left;
        margin-bottom: 30px;
    }

    .everyone-sec h2 {
        font-size: 36px;
    }

    .piano-slider .item h3 {
        font-size: 18px;
    }

    .piano-slider .owl-carousel .owl-dots {
        margin-top: 10px;
    }
    .w-20 {
        width: 100%;
    }
    .footer-col img.qr-img {
        width: 100%;
    }
    .technology-sec .tech-txt.tech-title h2 {
        font-size: 24px;
    }
}
@media screen and (max-width:400px) {
    .high-definition .content-txt h2{
        font-size: 40px;
    }
}